    body {
        margin: 0;
        height: 100vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1.2fr 1.5fr;
        grid-template-rows: 1fr 4fr 3fr 1fr;
        grid-template-areas: "header header header" "main main text" "main main text" "footer footer footer";
        height: 100vh;
        margin: 2em;

    }

    header {
        grid-area: header;
        background: #2600ff;
    }
    main {
        grid-area: main;
        background: #8cff00;
    }

    section.text {
        grid-area: text;
        background: #a2a2a2;
    }

    footer {
        grid-area: footer;
        background: 
        #ff0000;
    }
